@import "../../styles/constants.scss";

.BlogPost {

  margin: 0 20px;

  p img {
    max-width: 100%;
    height: auto;
  }

  >h3.BlogPost-Title {
    padding: 0;
    margin: 0 0 5px 0;
    color: $ip-dk-gray;
    font-family: $ip-body-font-family;
  }
  >p.BlogPost-Meta {
    margin: 5px 0;
    padding: 0;
    color: $ip-l-gray;
    font-family: sans-serif;

    >i {
      font-size: 14px;
      position: relative;
      top: 1px;
      margin: 0 2px 0 0;
    }

    >span.BlogPost-LabelText {
      display: inline-block;
      margin-top: 10px;
    }
  }

  >div.BlogPost-Body {
    margin: 5px 0 0 0;


    >p {
      font-family: $ip-article-body-font-family;
    }

    code {
      font-family: "source-code-pro", "Inconsolata", "Menlo", "Consolas", monospace;
    }

  }

}
