.BlogPost {
  margin: 0 20px; }
  .BlogPost p img {
    width: 100%;
    height: auto; }
  .BlogPost > h3.BlogPost-Title {
    padding: 0;
    margin: 0 0 5px 0;
    color: #606060;
    font-family: Futura, sans-serif; }
  .BlogPost > p.BlogPost-Author {
    margin: 5px 0;
    padding: 0;
    color: #95989A;
    font-family: Futura, sans-serif; }
  .BlogPost > div.BlogPost-Body {
    margin: 5px 0 0 0; }
