@import "../../styles/constants.scss";

.Contact {
  display: flex;
  flex-direction: row;

  @media(max-width: $nav-collapse-width) {
    flex-direction: column;
  }
}

.Contact-MyFace {
  max-height: 250px;
  max-width: 250px;

  @media(max-width: $nav-collapse-width) {
    margin: auto;
  }
}

.Contact-Info {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $ip-dk-gray;

  .Contact-MyName {
    margin: 5px 0;
  }

  .Contact-Items {
    list-style: none;
    margin: 5px 0;
    padding: 0;

    >li {
      padding: 0;
      font-size: 16px;
    }
  }

  .Contact-AboutMe {

  }

}

