@import '../../styles/constants.scss';

.PortfolioLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media(max-width: $nav-collapse-width) {
    flex-direction: column;
  }
}

.PortfolioLinks > a {
  // For underline when .active
  padding-bottom: 4px;

  margin: 5px auto;

  font-size: 16px;

  &:link, &:hover, &:visited {
    text-decoration: none;
    color: $ip-dk-gray;
  }
}

.PortfolioLinks > a.active {

  padding-bottom: 0;
  border-bottom: 4px solid $ip-blue;
}
