.PortfolioMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media (max-width: 640px) {
    .PortfolioMain {
      flex-direction: column; } }

.PortfolioMain > a {
  padding-bottom: 4px; }

.PortfolioMain > a.active {
  padding-bottom: 0;
  border-bottom: 4px solid #3098DD; }
