.PortfolioSnippet {

  display: flex;
  flex-direction: column;
  align-items: center;

  .Snippet-CoverImage {
    display: block;
    max-width: 200px;
    max-height: 200px;

  }
  .Snippet-ClientName {
    text-align: center;
    margin: 5px 0;
    padding: 0;
  }
}
