.SocialBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media (max-width: 640px) {
    .SocialBar {
      flex-direction: column; } }
  .SocialBar > .SocialItem {
    display: flex;
    flex-direction: column; }
    .SocialBar > .SocialItem > .SocialIcon {
      display: block;
      padding: 0;
      width: 100px;
      height: 100px;
      margin: 50px; }
      @media (max-width: 640px) {
        .SocialBar > .SocialItem > .SocialIcon {
          margin: 10px; } }
    .SocialBar > .SocialItem > .SocialName {
      text-align: center;
      font-size: 2rem; }
