.ContactInfo {
  display: flex;
  flex-direction: row; }
  .ContactInfo .Contact-MyFace {
    max-height: 250px;
    max-width: 250px; }
  .ContactInfo .Contact-Items {
    list-style: none;
    margin: 0;
    padding: 0; }
    .ContactInfo .Contact-Items > li {
      margin: 0 10px;
      padding: 0;
      font-size: 16px;
      color: #606060; }
      .ContactInfo .Contact-Items > li:first-child {
        margin-top: 0; }
