header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media (max-width: 768px) {
    header {
      margin: 0 10px; } }
  header > .header-inner {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
    flex-grow: 1; }
    @media (max-width: 640px) {
      header > .header-inner {
        flex-direction: column;
        padding: 10px 0; } }

header:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #95989A;
  position: relative;
  margin: 0 auto; }

.logo, .logo:hover, .logo:link, .logo:visited {
  font-family: "FatFrank", sans-serif;
  color: #3098DD;
  font-size: 30px;
  text-decoration: none;
  text-align: center; }
