@import "../../styles/constants.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 360px;

  @media(max-width: $nav-collapse-width) {
    flex-direction: column;
    margin-top: 10px;
    max-width: 100%;
  }

  >a {
    flex-grow: 0;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }

    &:link, &:visited {
      margin-top: -2px;

      color: #606060;
      font-family: Futura, sans-serif;
      font-weight: normal;
      text-decoration: none;

      @media(max-width: $nav-collapse-width) {
        margin: 4px 0;
      }

      &.active {
        margin-top: 0;
        border-bottom: 2px solid $ip-blue;

        @media(max-width: $nav-collapse-width) {
          margin-top: 4px;
          margin-bottom: 2px;
        }

      }
      &:hover {
        margin-top: 0;
        border-bottom: 2px solid $ip-l-gray;

        @media(max-width: $nav-collapse-width) {
          margin-top: 4px;
          margin-bottom: 2px;
        }

      }
    }
  }
  >.search-icon {
    cursor: pointer;
    margin-top: 6px;
    font-weight: bolder;
  }
}
